.section-1 {
    width: 75%;
    float: left;
}
.section-2 {
    width: 25%;
    float: left;
}

.user-card{
    border-top: 2px solid red;
    margin: 10px;
}

.sample-card{
    border-top: 2px solid green;
    margin: 10px;
}

.card-container {
    padding: 20px;
}