.login-container {
    .heading {
        text-align: center;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }
    h3 {
        text-align: center;
    }
}

.paper-background {
    background-color: red;
}