body {
    margin: 0;
}
.align-text {
    text-align: center;
}

.th-color{
    color:rgba(0, 0, 0, 0.54);
    text-align: center;
}

.modal.audioText{
    top: 30% !important;
    left: 20% !important;
}